host/build

vivado*

.Xil
ip_core
system_top

fpga/antsdr_e200/btle_antsdr_e200
fpga/antsdr_e200/src/*
fpga/helpers/build_boot_bin
fpga/helpers/output_boot_bin

*.log
btle_controller.cache
btle_controller.hw
*.xpr

BOOT.BIN

*.vcd
*.vvp
verilog/tb/test_data/
verilog/tb/test_vectors_batch/

verilog/cocotb/sim_build
verilog/cocotb/*.xml

.vscode
.venv
__pycache__/
.python-version