host/build
vivado*
.Xil
ip_core
system_top
fpga/antsdr_e200/btle_antsdr_e200
fpga/antsdr_e200/src/*
fpga/helpers/build_boot_bin
fpga/helpers/output_boot_bin
*.log
btle_controller.cache
btle_controller.hw
*.xpr
BOOT.BIN
verilog/*.vcd
verilog/*.vvp
verilog/test_data/